@model IEnumerable<Inventory>
@* @section MySection{
    @foreach(var obj in Model){
        <li>@obj.CategoryName</li>
    }
} *@
@{
    ViewData["Title"] = "Product";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ecommerce_web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <h1 class="mb-4">Products</h1>
        @foreach (var item in Model)
        {
            <a>@item.Name</a>            
        }
</body>
